/* Tag styles */

body {
    background-color: #E9ECF8;
    color: #0A3871;
}

header {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
}

/* End Tag styles */

/* Custom styles */

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#message-input {
    background-color: transparent;
    border: none;
    color: #0A3871;
    font-size: 1.3rem;
    outline: none;
    padding: .5rem;
    resize: none;
}

#message-input::placeholder {
    color: #0A3871;
}

.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.btn {
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 2.5rem;
}

#encrypt-btn {
    background-color: #0A3871;
    color: #E9ECF8;
}

#decrypt-btn, #copy-btn {
    background-color: transparent;
    color: #0A3871;
    border: #0A3871 solid 1px;
}

.button-container {
    margin-top: 1rem;
    display: flex;
}

#output-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);;
}

.output-container {
    text-align: center;
}

#message-output {
    color: #0A3871;
    margin-top: 1rem;
    text-align: left;
}
/* End custom styles */


/* Mobile styles */

@media (max-width: 767px) {
    .container {
        padding: 0;
        width: 100%;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #input-side {
        height: 70vh;
        padding: 1 rem;
    }

    #input-container {
        display: flex;
        height: 70%;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #message-input {
        height: 90%;
        width: 90%;
    }

    .icon {
        width: .8rem;
    }

    .btn {
        width: 80%;
        margin-top: 1rem;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    #copy-btn {
        display: none;
    }
}

/* End mobile styles */