/* Body style */
body {
    background-color: #E9ECF8;
    color: #0A3871;
}

/* Container styles */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}
